# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*build*
*vscode*
*.png
*frames
*.html
*.dat
*.mat
*.jld2


!deps/build.jl
deps/build.jl
*.txt
*.nfs*
*.pkl
!deps/CustomOp/FintComp/CMakeLists.txt
!deps/CustomOp/FintComp/customop.txt
!deps/CustomOp/OrthotropicOp/CMakeLists.txt
!deps/CustomOp/SymOps/CMakeLists.txt
!deps/CustomOp/SPDOp/CMakeLists.txt
!deps/CustomOp/SPDOp/custom_op.txt
!deps/CustomOp/CholOp/CMakeLists.txt
!deps/CustomOp/CholOp/custom_op.txt
*test.json
*.fuse*

*libtorch/
*Adept-2*

!deps/CustomOp/ADLaw/CMakeLists.txt
!docs/src/assets/*.png
*.DS_Store
*._.DS_Store
*._.
*._README.md
.*

*logs/*
*.err
*.out

deps/Gmsh/
